/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

input#post-search-input-splashing { width: 200px; }
input#search-submit-splashing{ height: 30px; float: right;}
div.media-toolbar-search-splashing {
    margin-top: 13px;
}

.splashing {
    position: relative;
}
.splashing span.attribute {
    background-color: #0D3349;
    width: 100%;
}
.splashing span.attribute a {
    position: absolute;
    text-decoration: none;
    bottom: 5px;
    right: 0px;
    color: white;
    padding: 3px 5px 3px 5px;
    background-color: rgba(0, 0, 0, 0.7);
}



#wp-splashing_images .media-toolbar-primary {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    float: left;
}
#wp-splashing_images .media-toolbar-secondary {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    float: right;
}

#wp-splashing_images .media-toolbar-secondary input#post-search-input { width: 150px; }
#splashing_images h2.hndle.splashing { background-color: #0073aa; color: #ffffff; }
.wp-filter { margin-top: 0px; }
.splashing-pagination { text-align: center; font-size: 1.2em; }

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  left: 100px;
  top: 20%;
  z-index: 11;
  position: absolute;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
