/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

img.splashing-thumbnail {
    padding: 10px;
    width: 30%;
    max-width: 300px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
 }
#wp-splashing_images .media-toolbar-primary {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    float: left;
}
#wp-splashing_images .media-toolbar-secondary {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    float: right;
}

#wp-splashing_images .media-toolbar-secondary input#post-search-input {
    width: 150px;
}

#splashing_images h2.hndle.splashing {
    background-color: #0073aa;
    color: #ffffff;
}

.wp-filter {
    margin-top: 0px;
}

.splashing-pagination {
    text-align: center;
    font-size: 1.2em;
}

